ul,li,p,h1,h2,table,tbody,thead,tr,td,span{
    margin: 0;
    padding: 0;
}

h1{
    color: #1e1e1e;
    font-size: 20px;
    text-align: left;
}
h2{ 
    color: white;
    font-size: 16px;
    text-align: center;
}

body{
    margin: 0px auto 50px auto;
    padding: 50px;
    width: 340px;
    height: 750px;
    background: #ffffff;
    color: white;
}

/* main */
.main{
    background:#000000;
    border: 2px solid #1e1e1e;
    border-radius: 3px;
    position:relative;
}
.target{
    width: 0 auto;
    height: 150px;
}

/* header */
.header{
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
}
.subject{
    padding: 5px 15px;
    background: #FFFFFF;
}
.header__clock{
    font-size: 13px;
    position: absolute;
    padding: 5px 15px;
    width: 80px;
    border-radius: 0 8px 8px 0;
    background: #545454;
    z-index: 5;
    display: inline-block;
}
.header__date{
    width: 240px;
    padding: 5px 15px;
    text-align: right;
    font-size: 12px;
    background-color: aquamarine;
    float: left;
}
.header__physical{
    font-size: 12px;
    text-align: left;
    padding: 5px 15px 5px 20px;
    background-color: aqua;
    float: left;
}


/* infomation */
.infomation{
    padding: 5px 10px;
    position: relative;
}
.infoation__town{
    text-align: left;
}
.information__town-name{
    font-size: 12px;
    padding: 5px 15px;
    margin-top: 5px;
    margin-bottom: 5px; 
    border: 2px solid #FFFFFF;
    border-radius: 3px;
}
.infomation__wrap{
    padding: 0 10px;
    position: relative;
    display: flex;
    flex-direction: row;
}
.informaiton__w-driver_picture{
    width: 65px;
    height: 65px;
    margin: auto 15px 0 0;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
}
.information__w-change_picture{
    width: 65px;
    height: 65px;
    margin: auto 25px 0 0;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
}
.informaiton__w-status{
    height: 150px;
    margin: 10px 0;
}
.status_sentence{
    margin-top: 5px;
    margin-bottom:  5px;
    font-size: 12px;
}
.information__history{
    font-size: 12px;
    margin-top: 5px;
    height: 60px;
}

.window{
    padding: 5px;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
}
.prof_image{
    width: 65px;
    height: 65px;
}

/* footer */
.footer{
    padding: 0 10px;
}
.footer__history{
    width: 300px;
    height: 400px;
    padding: 13px;
    border: 3px solid #FFFFFF;
    border-radius: 3px;
    position: absolute;
    display: none;
}
.footer__command-table{
    margin: 0 auto;
}

/* form */
form{
    overflow: hidden;
}

input[type="submit"]{
    width: 77px;
    border: none;
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 5px;
    background: black;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
    color: white;
}
input[type="submit"]:hover{
    background: #3d3938;
    cursor: pointer;
}
a{
    color: #545454;
    display: block;
}
a:hover{
    text-decoration: none;
}
