ul,li,p,h1,h2{
    margin: 0;
    padding: 0;
}

h1{
    color: white;
    font-size: 20px;
    text-align: left;
}
h2{ 
    color: white;
    font-size: 16px;
    text-align: center;
}

body{
    margin: 0px auto 50px auto;
    padding: 50px;
    width: 750px;
    height: 340px;
    background: #ffffff;
    color: white;
}

/* main */
.main{
    background:#000000;
    padding:15px;
    border-radius: 3px;
    position:relative;
}
.target{
    width: 0 auto;
    height: 150px;
}

/* header */
.header{
    position: relative;
    overflow: hidden;
}
.header__clock{
    position: absolute;
    height: 100px;
    width: 100px;
    background: #545454;
    z-index: 5;
    display: inline-block;
}
.header__date{
    width: 300px;
    text-align: right;
    float: left;
}
.header__physical{
    text-align: left;
    padding-left: 20px;
    float: left;
}


/* infomation */
.infomation{
    position: relative;
}
.infoation__town{
    text-align: left;
    padding-left: 20px;
}
.infomation__wrap{
    position: relative;
    display: flex;
    flex-direction: row;
}
.informaiton__w-driver_picture{
    width: 80px;
    height: 80px;
    margin: 10px;
}
.information__w-change_picture{
    width: 80px;
    height: 80px;
    margin: 10px;
}
.informaiton__w-status{
    width: 130px;
    height: 150px;
    margin: 10px;
}
.status_sentence{
    margin-top: 5px;
    margin-bottom:  5px;
    font-size: 12px;
}

.window{
    padding: 5px;
    border: 3px solid #FFFFFF;
    border-radius: 3px;
}
.prof_image{
    width: 120px;
}

/* footer */
.footer__history{
    width: 300px;
    height: 400px;
    padding: 13px;
    border: 3px solid #FFFFFF;
    border-radius: 3px;
    position: absolute;
    display: none;
}

/* form */
form{
    overflow: hidden;
}

input[type="submit"]{
    border: none;
    font-size: 14px;
    padding: 5px 15px;
    margin-bottom: 5px;
    background: black;
    color: white;
}
input[type="submit"]:hover{
    background: #3d3938;
    cursor: pointer;
}
a{
    color: #545454;
    display: block;
}
a:hover{
    text-decoration: none;
}
